<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
 	<bean id="imageDAO" class="org.vm.entity.img.dao.ImageDAO">
	</bean>
 
	<bean id="connectionUtil" class="org.vm.connections.ConnectionUtil">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- <bean id="videoDAO" class="org.vm.entity.video.dao.VideoDAO">
		<property name="dataSource" ref="dataSource" />  -->
 
</beans>